{%extends 'main.html'%}

{% block content%}


<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }

</style>

<h1>Home templates </h1>

<dic class="home-container">
 

    <div>
         {%include 'base/topics_component.html'%}
    </div>

    <div>
        <h5> {{questions_count}} questoins</h5>
        <a href="{% url 'create-question'%}"> Create Question</a>
      <div>
          
        {%include 'base/question_component.html'%}
         
      </div>
    </div>


    <div>
        {%include 'base/activity_component.html'%}

    </div>

 
</div>
{%endblock%}