

{%extends 'main.html'%}

{%block content%}


<style>
    .question-container{
        display: grid;
        grid-template-columns: 3fr 1fr;

    }
    .visible {
    display: block;
    }

    .hidden {
    display: none;
    }

</style>


<div class="question-container">
   <div>
    <h5>@{{question.host}}</h5>
    <h1>{{question.write_question}}</h1>
    <h5>Topic: {{question.topic}}</h5>


   <div class="comment-wrapper">
     
      <hr>
      {%for message in question_messages%}
      <div>
        {% if request.user == message.user%}
        
        <a href="{%url 'delete-message' message.id %}">Delete</a>
        {%endif%}
    
        <small>@{{message.user}} {{message.created|timesince}} ago</small>

  
        <h4>{{message.comment}} </h4>

        <a href="{% url 'question' pk=question.id%}?reply_form_id={{message.id}}">Reply</a>
        
           

    

        <div id="reply-form-{{ message.id }}" class="reply-Sform {% if reply_form_id == message.id|stringformat:'s' %}visible{% else %}hidden{% endif %}">


            <form method="POST">
                {% csrf_token %}
                <textarea name="comment" placeholder="Write your answer">@{{message.user}} </textarea>
                <input type="hidden" name="parent_id" value="{{ message.id }}">
                <button type="submit">Submit</button>
            </form>
        </div>
    
        {% if message.replies.count > 0 %}
        <ul>
            {% for reply in message.replies.all %}
            {% if forloop.counter <= show_replies_count %}
            <li>

                <strong>{{ reply.user.username }}</strong>  
                <small>{{reply.created|timesince}} ago</small>
               

                {%if request.user == reply.user%} 
                <a href="{%url 'delete-reply' reply.id %}">Delete</a>
                {%endif%}

                <p>{{ reply.comment }}</p> 
                <hr>
            </li>
            {% endif %}
            {% endfor %}

            {% if message.replies.count > show_replies_count %}
            <!-- "Show More" link that increments the displayed reply count -->
            <a href="{% url 'question' pk=question.id %}?show_replies_count={{ show_replies_count|add:3 }}">Show more</a>
            {% endif %}
        </ul>
        {% endif %}
       </div>
    
       <hr>
      {%endfor%}
    </div>

    {%if request.user.is_authenticated%}  
    <div class="comment-form">
        <form method="POST" action="">
           {%csrf_token%}
           <input type="text" name="comment" placeholder="Write your message here..."/>

        </form>

    </div>
    {%endif%}
   </div>

   <div>
       <h3>Participants</h3> 
       <hr>
       {%for user in participants%}
            <div>
                <p>@{{user.username}} </p>
            </div>
        
       {%endfor%}
    
   </div>
    
</div>

{%endblock%}



